.tag-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
    margin: 2rem 0;
}
.tag-right{
    align-items: center;
}
.tag-left-1{
    display: flex;
    margin: 0.5rem 0;
    gap: 0.5rem;
}

