.simular {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.simularColumn {
  height: 560px;
  overflow-y: auto;
  border: 1px solid white;
}

.simularColumn-title {
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}
.simularColumn-title:hover {
  color: red;
  transition: 0.3s;
  cursor: pointer;
}

.simularColumn-item {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.simularColumn-img {
  border-radius: 8px;

  overflow: hidden;
  width: 8rem;
  height: 12rem;
}

.simularColumn-name {
  width: calc(100% - 10rem);
  color: white;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 1.2;
}
