/* Mobile */
@media (max-width: 740px) {
  .cast {
    grid-template-columns: 1fr;
  }
  .genres .btn {
    margin: 5px 0;
    margin-right: 5px;
  }
  .skeleton-img {
    height: 500px;
  }
  .searchResults-container {
    grid-template-columns: 1fr;
  }
  .grid-layout {
    grid-template-columns: 1fr 1fr;
  }
  .genres-list {
    position: static;
  }
  .skeleton-img {
    height: 250px;
  }
  .watch-link {
    margin-bottom: 20px;
  }
  .header-logo-mobile {
    display: block;
  }
  .header-logo-mobile span {
    font-size: 20px;
    color: #fff;
  }
  .toggle-menu-icon {
    display: flex !important;
  }
  .banner-info-overview {
    display: none;
  }
  .banner-info-title {
    font-size: 16px;
  }
  .watch-tv-season-img {
    width: 30%;
  }
  .banner {
    display: none;
  }
  .profileScreen_body h1 {
    font-size: 2rem;
  }
  .profileScreen_details h1 {
    font-size: 1rem;
  }

  /* loginScreen responsive */
  .loginScreen {
    height: 60vh;
  }
  .loginScreen_body {
    top: 30%;
  }
  .loginScreen_detail {
    width: 90%;
  }
  .loginScreen_detail h1 {
    font-size: 1.8rem;
  }
  .loginScreen_detail h2 {
    visibility: hidden;
  }
  .loginScreen_detail h3 {
    visibility: hidden;
  }
  .loginScreen_animationcard_info h1{
    font-size: 1.2rem;
  }
  .loginScreen_animationcard_info h2{
    font-size: 0.7rem;
  }
  .loginScreen_animationcard_videobg img{
    width: 10rem;
  }
  .loginScreen_animationcard_info1 h1{
    font-size: 1.2rem;
  }
  .loginScreen_animationcard_info1 h2{
    font-size: 0.7rem;
  }
  .loginScreen_animationcard_videobg1{
    width: 12rem;
  }
  .loginScreen_animationcard_videobg1 img{
    width: 10rem;
  }
  .loginScreen_input {
    visibility: hidden;
  }
  .bodyside{
    margin-top: 30%;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1200px) {
  .cast {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .skeleton-img {
    height: 300px;
  }
  .searchResults-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-layout {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .skeleton-img {
    height: 350px;
  }
  .banner-info-title {
    font-size: 25px;
  }
  .info-esp-season {
    flex: 1;
    border-bottom-left-radius: 0px;
  }
  .watch-tv-season-img {
    width: 20%;
  }

  /* loginScreen responsive */
  .loginScreen_body {
    top: 15%;
  }
  .loginScreen_detail {
    width: 80%;
    margin-bottom: 4rem;
  }
  .loginScreen_detail > h1 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    margin-top: 0.6rem;
  }
  .loginScreen_detail > h2 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1.8rem;
  }
  .loginScreen_detail > h3 {
    font-size: 0.8rem;
    font-weight: 400;
  }
  .loginScreen_getStarted {
    font-size: 0.8rem;
  }
  .loginScreen_animationcard_info h1{
    font-size: 1.6rem;
  }
  .loginScreen_animationcard_info h2{
    font-size: 1rem;
  }
  .loginScreen_animationcard_videobg img{
    width: 12rem;
  }
  .loginScreen_animationcard_info1 h1{
    font-size: 1.6rem;
  }
  .loginScreen_animationcard_info1 h2{
    font-size: 1rem;
  }
  .loginScreen_animationcard_videobg1{
    width: 14rem;
  }
  .loginScreen_animationcard_videobg1 img{
    width: 12rem;
  }
  .banner_contents{
    margin-top: -500px;
    width: 80%;
  }
  .bodyside{
    margin-top: 10%;
    margin-left: 0;
  }
  .banner_button_hover {
    visibility: hidden;
  }
  .banner_button_right {
    visibility: hidden;
  }
  .banner_title{
    font-size: 1.6rem;
  }
  .banner_button {
    font-size: 0.6rem;
  }
  .banner_description {
    font-size: 0.6rem;
  }
}

/* Tablet and Mobile */
@media (max-width: 1200px) {
  .home-page {
    margin-top: 80px;
  }
  .details-poster {
    width: 300px;
    text-align: center;
    border-radius: 8px;
    margin: 0 auto;
  }
  .details-info {
    width: 100%;
    margin-top: 30px;
  }
  .simularMovie {
    margin-top: 40px;
    width: 100%;
  }
  .simularMovieTV {
    margin-top: 40px;
    width: 100%;
  }
  .watch-tv {
    width: 100%;
  }
  .watch-tv-other-season {
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
  .watch-wrap {
    width: 100%;
  }
  .watch-tv-link {
    flex-direction: row;
  }
  .deltele-favorite {
    display: block !important;
    opacity: 0.7;
  }
  .watch-tv-other-season {
    margin-top: 40px;
  }
}

@media (min-width: 1200px) {
  .banner {
    aspect-ratio: 16/9;
  }
}
