.pageContainer {
    height: 70vh;
    margin: 2rem;
}
.pageHeader {
    color: white;
}

.pageContainer header {
    padding: 1rem;
}

.pageContainer main {
    color: white;
    margin-top: 1rem;
}

.pageContainer input {
    padding: 0.5rem 1rem;
}

.signInBar {
    display: flex;
    margin: 1rem;
    gap: 1rem;
    align-items: center;
}
.signInButton {
    padding: 0 1rem;
    cursor: pointer;
    background-color: white;
    color: red;
    opacity: 0.8;
}
.signInButton:hover {
    opacity: 1;
}
